<!DOCTYPE html>
<html>
<head>
	<title>INDEX</title>
</head>
<body>
	<h1>Update Post</h1>
	<form action="/pages/update_page" method="POST">
		<input type="text" value="<%= post.content %>" id="content" name="content">
		<input type="hidden" value="<%= post.id %>" name="postId">
		<input type="submit">
	</form>
</body>
</html>