<!DOCTYPE html>
<html>
<head>
	<title>INDEX</title>
</head>
<body>
	<h1>Index</h1>
	<form action="/pages/update_page" method="POST">
		<input value="<%= post.content %>" name="postId">
		<input type="submit">
	</form>
</body>
</html>